// app global css in SCSS form
* {
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
    box-sizing: border-box;
}
body{
    background: black;
    color: white;
}

/* Common */

a {
    color: inherit;
    text-decoration: none;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.flex-1 {
    flex: 1;
}

.no-after::after {
    display: none !important;
}

.ic-section {
    padding-top: 120px;
    padding-bottom: 60px;
}

.ic-text-primary {
    color: #42bed2 !important;
}

.text-justify {
    text-align: justify;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Rajdhani, sans-serif;
    font-weight: 700;
}
